# Claude API
ANTHROPIC_API_KEY=

# YouTube Data API
YOUTUBE_API_KEY=

# Adzuna Job Market API
ADZUNA_APP_ID=
ADZUNA_APP_KEY=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
